@page "/testbinding"
@page "/test"
<h3>TestBinding</h3>
<div>
    <h3>One way data binding </h3>
    Employee Name: @Employee.FirstName
</div>
<div>
    <h3>One way data binding On From Controls</h3>
    Employee Name <input value="@Employee.FirstName"/>
</div>
<div>
    <h3>Two way data binding</h3>
    Employee Name <input @bind="@Employee.FirstName"/>
</div>
<div>
    <h3>Two way data binding On different Event </h3>
    Employee Name <input @bind-value="@Employee.FirstName" @bind-value:event="oninput" />
</div>
<div>
    <button @onclick="Button_Click"> Click Me</button>
</div>
@code {
    Employee Employee = new Employee
        {
            Id = 1,
            FirstName = "Omar",
            LastName = "Ramadan"
        };
    private void Button_Click()
    {
        Employee.FirstName = "First Name CHanged";
    }
}
